<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>Welcome to Books API</title>
</head>
<body>
    <div class="backgroud__photo"></div>
    <div class="container">
        <h1 class="index__header">Welcome to Book API Website</h1>
        <a class="login" href="{{url_for('login')}}">Login</a>
        <a class="register" href="{{url_for('register')}}">Register</a>
    </div>
    
</body>
</html>